In [ ]:
# 1 what is list ? how will you reverse a list
# list is collection of different value or different datatype items store in single variable are called as list
list1=[12,23.7,'python',(12,34,'hack'),{12,34,56},{'ram':23,'kalpesh':67}]
l2=list1[::-1]
print(l2)

In [ ]:
# 2 how will you remove last object from a list
l1=['python','hacker','list','tuple',45,23,78,34.5]
l1.remove(34.5)
print(l1)

In [ ]:
# 3 suppose list1 is[2,33,222,14,and 25],what is list[-1]
list1=[2,33,222,14,25]
list2=list1[-1]
print(list2)

In [ ]:
# 4 diffrentiate between append() and extend()methods?
# append(): add a single element to the end of the list 
# extend(): extend() can add multiple individual to the end of the list
# example
l1=[12,34,67,89,0,76]
l1.append(23)
print(l1)
l2=[1,2,3,456,78,976]
l2.extend('34')
print(l2)

In [ ]:
# 5 wrie a python function to get the largest number ,smallest num, and sum of all from a list
def largest(list1):
    a=[]
    for i in list1:
        a.append(i)
        a.sort()
    return a[-1]
        
(largest([12,34,56,23]))

In [ ]:
# smallest number in list
def smallest(list2):
    a=[]
    for i in list2:
        a.append(i)
        a.sort()
    return a[0]
(smallest([12,34,53,67,89]))

In [ ]:
# sum of all from alist
def sum1(list3):
    sum1=0
    for i in list3:
        sum1=sum1+i
    return sum1
(sum1([1,2,6,4]))

In [ ]:
# 6 how will you compare two list
l1=[1,2,3,4,56]
l2=[2,4,1,4,56]
if l1==l2:
    print('both list are equal')
else:
    print('both list are not equal')

In [ ]:
# 7 write a python program to count  the number of string where the string length is 2 or more and the first and
# last character are same from a given list os string
str1=input('enter the string')
val=0
for i in str1:
    if len(str1)>1 and str1[0]==str1[-1]:
        val +=1
print('number of character =',val)

In [ ]:
# 8 write a python program to remove duplicates from a list
list1=[12,12,3,4,12,56,4,56,90,54,4,2,2,3,1,345,543]
set1=set(list1)
rd=list(set1)
print(rd)

In [ ]:
# 9 write a python program to check a list is empty or not
list1=[12]
if len(list1)==0:
    print('list1 is empty')
else:
    print('list1 is not empty')

In [ ]:
# 10 write a function that takes two list and returns true if they have at least one common member
def compare(l1,l2):
    for i in l1:
        for j in l2:
            if i==j:
                return 'true'
l1=[1,2,3,4]
l2=[9,7,4,3]
print(compare(l1,l2))

In [ ]:
# 11 write a python program to generate and print a list of list first and last element where values are
#square of number between 1 and 30
l1=[]
for i in range(1,6):
    l1.append(i*i)
print(l1)
l2=[]
for i in range(26,31):
    l2.append(i*i)
print(l2)
l3=l1+l2
print(l3)

In [ ]:
#  12 write a python function that takes a list and returns a new list with unique elements of the first list
list1=[1,2,3,2,23,4,5,4,5,6]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

In [ ]:
# 13 write a program to convert a list  of  character into string
l1=['k','a','l','p','e','s','h']
l2=''.join(l1)
print(l2)

In [ ]:
#  14 write a python program to select an item randomly from a list
import random
list1=['kalpesh','python','89',90,(12,345,'music')]
print(random.choice(list1))

In [ ]:
#### 15 write a python program to find the second smallest number in list
a=[]
size=int(input('enter the size of list'))
for i in range(size):
    val=int(input('enter the number'))
    a.append(val)
    a.sort()
print('smallest number in list','=',a[0])
print('second smallest number in list',a[1])

In [ ]:
#  16 write a python program to get unique values from a list
list1=[1,2,3,2,67,76,67,7,8,98,98]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

In [ ]:
# 17 write a python program to check whether a list contains a sub list
list1=[1,3,4,6,78,56,4,5,90]
sub_list1=[1,56,4,5,90]
sub_idx=list1.index(sub_list1[0])
if list1[sub_idx:sub_idx+len(sub_list1)]==sub_list1:
    print('it is exist')
else:
    print('not exist')

In [ ]:
# 18 write a python program to split a list into different variables
list1=[1,2,3,4,5]
l1=list1[0]
l2=list1[3]
l4=list1[2]
print(l1)
print(l2)
print(l4)

In [ ]:
# 19 what is tuple ? different between list and tuple
# tuple: tuple is collection of different values or diffrent datatype of values store in single variable
# is called as tuple
# list and tuple is similar but list is mutable and tuple is immutable
# list assien by=[] and tuple is assien by =()

In [ ]:
# 20 write a python program to create a tuple with different data types
t1=(1,23.34,'study',[12.3421,1,5,7,'karan'],{123,453,4,3},True,0,{1:23,'marks':67,45:23},(1,34,67,8))
print(t1)

In [ ]:
# 21 write a python program to create a tuple with numbers.
t2=34,35,235,687,345,345
print(t2)
type(t2)

In [ ]:
# 22 write a python program to convert a tuple to a string
t2=('k','a','l','p','e','s','h')
t3=''.join(t2)
print(t3)

In [ ]:
# 23 write a python program to check whether an element exist within a tuple
t3=(12,24,13,13,45)
element=(24)
if element in t3:
    print('element is exist in tuple')
else:
    print('element does not exist in tuple')

In [ ]:
# 24 wtite a python program to find the length of a tuple
t3=(12,345,245,1234,5777,4567,'tuple','list',(12345,7654,245,78,466),{12334,566,22,556})
print(len(t3))

In [ ]:
# 25 write a python program to convert a list to a tuple
l2=[12,45,62,657,234,578]
t1=tuple(l2)
print(t1)

In [ ]:
# 26 write a python program to reverse a tuple
# sample tuple:(13,355,2456,466)
# output:(466,2456,355,13)
t1=(13,355,2456,466,3509,45,345,67,'kalpesh',{12,4356},(12,424,57),{1:23,'buy':78,'loss':67})
t2=list(t1)
t2.reverse()
t3=tuple(t2)
print(t3)

In [ ]:
# 27 write a python program to replace last value of tuples in a list
t2=[(12,23,4567,56),(12,4354,678,89)]
for i in t2:
    print(i[:-1]+(123,))

In [14]:
# 28 write a python program to find the repeated last value of tuples in a list
tuple1=(12,32,23,12,32,25,24,42,25,25)
t2=()
for i in tuple1:
    if tuple1.count(i)>1:
        continue
        print(i)

In [15]:
# 28 write a python program to remove an empty tuple(s) from a list of tuples
tuple1=[12,23,(),(12,23,43),(),23.23,(),23,23]
val=[t for t in tuple1 if t]
print(val)

[12, 23, (12, 23, 43), 23.23, 23, 23]

In [17]:
# 29 write a python to unzip a list of tuples into individual lists.
tuple2=[(25,),(67,),(21,12,25),(2,3,4),23.23]
(t1,t2,t3,t4,t5)=tuple2
t1=list(t1)
t3=list(t3)
print(t3)

[21, 12, 25]

In [23]:
# 30 write a python program to convert a list of tuples into a dictionary
list1=[(45,'rohit'),(18,'virat'),(7,'dhoni'),('abd',17),('raina',3)]
dict1=dict(list1)
print(dict1)

{45: 'rohit', 18: 'virat', 7: 'dhoni', 'abd': 17, 'raina': 3}

In [21]:
# 31 how will you create a dictionary using tuple in python
tuple1=((45,'rohit'),(18,'virat'),(7,'dhoni'),('abd',17),('raina',3))

print(dict(tuple1))

{45: 'rohit', 18: 'virat', 7: 'dhoni', 'abd': 17, 'raina': 3}

In [25]:
# 32 write a python script to sort (ascending) a dictionary by values
d1={'python':13,'java':15,'php':60,'vb.net':23,'javascript':48}
res={k:v for k,v in sorted(d1.items(),key=lambda v:v[1])}
print(res)

{'python': 13, 'java': 15, 'vb.net': 23, 'javascript': 48, 'php': 60}

In [26]:
## 32 write a python script to sort (descending) a dictionary by values
d1={'python':13,'java':15,'php':60,'vb.net':23,'javascript':48}
res={k:v for k,v in sorted(d1.items(),key=lambda v:v[1],reverse=True)}
print(res)

{'php': 60, 'javascript': 48, 'vb.net': 23, 'java': 15, 'python': 13}

In [27]:
#  33 write a python script to concatenate following dictionaries to create a new one
dict1={45:'rohit',18:'virat'}
dict2={'.net':123,'php':321}
dict3={45:45,'rohit':'rohit','virat':'virat'}
dict4={}
for i in (dict1,dict2,dict3):
    dict4.update(i)
print(dict4)

{45: 45, 18: 'virat', '.net': 123, 'php': 321, 'rohit': 'rohit', 'virat': 'virat'}

In [35]:
# 34 how do you check presence of a  key in a dictionary
d={'k':34,'a':78,'l':89,'p':56,'e':90,'s':56,'h':87}
key=(input('enter the keys'))
if key in d:
    print('key present in dict.' ,'value=',d[key])
else:
    print('key not present in dict')

enter the keysk
key present in dict. value= 34

In [36]:
# 35 how do you traverse through a dictiionaty object in python
dict2={'p':25,'y':30,'t':70,'h':43,'o':12,'n':27}
for i in dict2:
    print(i,dict2[i])

p 25
y 30
t 70
h 43
o 12
n 27

In [38]:
# 36 write a python script to check a given key already exist in adictionary
d={1:10,2:20,3:30,4:45,6:67,8:90}
key=int(input('enter the keys'))
if key in d:
    print('key present in dict')
else:
    print('key not present in dict')

enter the keys4
key present in dict

In [6]:
# 37 writea python script to print a dictionary where the keys are numbers between 1 and 15
d=dict()
for i in range(1,16):
    d[i]=i+2
print(d)

{1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11, 10: 12, 11: 13, 12: 14, 13: 15, 14: 16, 15: 17}

In [4]:
# 38 Write a Python program to check multiple keys exists in a dictionary.
dict1={'module':1,'module2':2,'keys':5,'tuple':4,'list':3,'vivek':24}
s1={'module','module2','sun'}
if dict1.keys()>=s1:
    print('true')
else:
    print('false')

false

In [10]:
# 39 Write a Python program to map two lists into a dictionary.
dict1=['one','two','three','four','five']
dict2=[100,45,78,34,23]
Dict=dict(zip(dict1,dict2))
print(Dict)

{'one': 100, 'two': 45, 'three': 78, 'four': 34, 'five': 23}

In [12]:

# 40 Write a Python program to combine two dictionary adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400}
for i in d1:
    if i in d2:
        d2[i]=d1[i]+d2[i]
    else:
        d2[i]=d1[i]
print(d2,)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [13]:
#  41 Why Do You Use the Zip () Method in Python ?
# zip() function creates an iterator that will aggregate elements from two or more iterables.
l1=['a','b','c','d']
l2=[12,23,21,43]
print(dict(zip(l1,l2)))

{'a': 12, 'b': 23, 'c': 21, 'd': 43}

In [14]:
#  42 Write a Python script to merge two Python dictionaries.
dict1 = {'a': 100, 'b': 200,'c':400}
dict2 = {'i': 300, 'j': 200,'k':500}
Dict=dict1.copy()
Dict.update(dict2)
print(Dict)

{'a': 100, 'b': 200, 'c': 400, 'i': 300, 'j': 200, 'k': 500}

In [15]:
#  43 Write a Python program to create and display all combinations of letters,
# selecting each letter from a different key in a dictionary.
# Sample data: {'1': ['a','b'], '2': ['c','d']}
# Expected Output:
# ac ad bc bd
a={'1':['a','b'], '2':['c','d']}
d=list(a.values())
# print(d)
for i in d[0]:
    for j in d[1]:
        print(i+j)

ac
ad
bc
bd

In [3]:
#  44 Write a Python program to find the highest 3 values in a dictionary.
d1={'w':456,'t':342,'co':453,'ee':216,'l':25,'b':75}
w= sorted(d1.items(),key=lambda v:v[1])
re={k:v for k,v in w}
j=list(res.items())
w=j[-3:]
print(dict(w))

{'t': 342, 'co': 453, 'w': 456}

In [4]:
#  45 Write a Python program to combine values in python list of dictionaries. 
# Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
# Expected Output: Counter ({'item1': 1150, 'item2': 300})
dict1=[{'item': 'item1', 'amount': 400,'amount':212}, {'item': 'item1', 'amount': 300}, {'item': 'item1', 'amount': 750}]    
dict2={}
for i in dict1:
    if i['item'] not in dict2:
        dict2[i['item']]=i['amount']

    else:
        dict2[i['item']]+=i['amount']
print(dict2)

{'item1': 1262}

In [5]:
#  46 Write a Python program to create a dictionary from a string.
# Note: Track the count of the letters from the string. Sample string:'w3resource'
# Expected output: {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}
s='w3resource'
d1={}
for c in s:
    if c in d1:
        d1[c]=d1[c]+1
    else:
        d1[c]=1
w={k: v for k, v in sorted(d1.items())}
print(w)

{'3': 1, 'c': 1, 'e': 2, 'o': 1, 'r': 2, 's': 1, 'u': 1, 'w': 1}

In [6]:
#  47 Write a Python function to calculate the factorial of a number (a non-negative integer).
def som(num):
    if num>1:
        return num*som(num-1)
    else:
        return num
print(som(5))

120

In [7]:
# 48 Write a Python function to check whether a number is in a given range.
def num(n):
    if n in range(1,9):
        return print('%s is given the range'%str(n))
    else:
        print('no')
num(5)

5 is given the range

In [9]:
# 49 Write a Python function to check whether a number is perfect or not.
n=int(input('enter the number:'))     # 
sum = 0                               
for x in range(1, n):
    if n % x == 0:
        sum += x

if sum==n:
    print( n,'is perfect number')
else:
    print(n,'not perfect number')

enter the number:6
6 is perfect number

In [10]:
# 50 Write a Python function that checks whether a passed string is palindrome or not.
# find reverse a string.
# check the original string and the reverse string are same or not.
def pa(n):
    return n==n[::-1]
s="python"    
w=pa(s)
if w:
    print("yes")
else:
    print('no')

no

In [13]:
#  51 What is lambda function in python? What we call a function which is incomplete version of a function?


# Lambda Function, also referred to as ‘Anonymous function’ is same as a regular python function but can be 
# defined without a name.
# because they are handy and short.
# single expression, can be multiple parameters.

var=lambda a,b:a+b
d=var(23,2)
print(d)

25

In [ ]:
#  52 How Many Basic Types Of Functions Are Available In Python?
# there are three basic type of function.
# 1.built-in function :- print(),type(),len(),all(),any(),filter(),eval() and enumerate()
# 2.user define function :- define the user
# 3.anonymous function :- lambda function

In [15]:
#  53 How can you pick a random item from a list or tuple?
list1=[1232,'problem','delete',2345,78.90]
import random
c=random.choice(list1)
print(c)

problem

In [1]:
#  54 How can you get a random number in python?
import random
s=random.random()
print(s)

0.8253218219817087

In [2]:
#  55 How will you set the starting value in generating random numbers?
import random
for i in range(5):
    random.seed(0)
print(random.randint(1,1000))

865

In [18]:
#  56 How will you randomizes the items of a list in place?
list1 = [3,22,4,-768,3.4]
import random
random.shuffle(list1)
print(list1)

[4, 22, 3, 3.4, -768]

In [21]:
#  57 Write a Python program to convert degree to radian.
degree=float(input('enter the degree:'))
pi=3.14
radian=degree*(pi/180)
print('the radian is =',radian)

enter the degree:45
the radian is = 0.7850000000000001

In [24]:
#  58 Write a Python program to calculate the area of a trapezoid.
k=float(input('enter the first base:'))
m=float(input('enter the second base:'))
height=float(input('enter the height:'))     
area=((k+m)/2)*height                         
print('area of trapezoid=',area)

enter the first base:5
enter the second base:6
enter the height:7
area of trapezoid= 38.5

In [23]:
#  59 Write a Python program to calculate the area of a parallelogram.
# area=A=h*b
base=float(input('enter the base:'))
height=float(input('enter the height:'))
area=base*height
print('area of parallelogram=',area)

enter the base:3
enter the height:4
area of parallelogram= 12.0

In [25]:
#  60 Write a Python program to calculate surface volume and area of a cylinder,
# area of cylinder=A=(2*pi*r*h)+(2*pi*r*r)
# surface volume of cylinder=pi*r*r*h
pi=3.141
radius=float(input('enter the radius:'))
height=float(input('enter the height:'))
A=(2*pi*radius*height)+(2*pi*radius*radius)
V=pi*radius*radius*height
print('area of cylinder=',A)
print('volume of cylinder=',V)

enter the radius:4
enter the height:6
area of cylinder= 251.28
volume of cylinder= 301.536

In [3]:
#  61 Write a Python program to returns sum of all divisors of a number.
number=int(input('enter the number:'))
divisors=[1]
for ele in range(2,number):
    if (number%ele)==0:
        divisors.append(ele)
sum_of_divisors=sum(divisors)
print('the sum of divisors = %s'%sum_of_divisors)

enter the number:56
the sum of divisors = 64

In [27]:
#  62 Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.
list_number=[2.45 ,2.69 ,2.45 ,3.45 ,2.00 ,0.04 ,7.25]
print(min(list_number))
print(max(list_number))

0.04
7.25